.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info

# Latex aux files
*.synctex.gz
*.log
*.aux
*.out
*.dvi
*.xwm
*.nav
*.toc
*.snm
comment.cut
*.fdb_latexmk
*.fls
*.blg
*.bbl

# Jupyter notebooks
*.ipynb_checkpoints

.idea/
.vscode/
.DS_Store

*lightning_logs
*/home/gcl/RB/kdascher/Projects/DS_Discovery/recast/notebooks/exploratory