name: eq  
channels:
  - pytorch
  - defaults
dependencies:  
  - python=3.9
  - ipywidgets==7.6.5
  - joblib==1.1.0
  - jupyter==1.0.0
  - matplotlib==3.5.0
  - numpy==1.21.2
  - pandas==1.3.5
  - pytorch==1.10
  - scipy==1.7.3
  - seaborn==0.11.2
  - requests==2.27.1
  - tqdm==4.62.3
  - urllib3==1.26.8
  - cudatoolkit=11.3
  - pip:
    - pytorch-lightning==1.5.9
    - setuptools==59.5.0
    - sacred==0.8.2
    - wandb==0.12.10
